*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bib
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
assignment_2/tests/histogram/histogram_datafiles
assignment_2/tests/linear_regression/linear_regression_datafiles
assignment_2/tests/string_match/string_match_datafiles
assignment_2/tests/word_count/word_count_datafiles
*.o
*.DS_STORE
